{% extends "layout.html" %}

{% block content %}
<br>
<br>
  <h3>Pages</h3>
  <hr>
  <ul class="list-unstyled">
    <!-- PLACEHOLDER LIST OF PAGES -->
    {% for page in pages %}

    <li><a href='/wiki/{{page.urlTitle}}'>{{page.title}}</a></li>

  	{% endfor %}
  </ul>
{% endblock %}

      <!-- {% for tweet in tweets %}

       <li><a href='/users/{{tweet.name}}'><b>{{tweet.name}}</b></a> <br><a href='/tweets/{{tweet.id}}'>{{tweet.text}}</li>
       <a href='#'>Retweet</a>
      {% endfor %} -->